*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #282828;
  background-color: black;
}

.swiper-button-next, .swiper-button-prev {
  background: none;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 10;
  &:after {
    font-size: 28px;
    color: white;
  }
  &:hover {
    opacity: 0.7;
  }
}