@import 'swiper/css';
@import 'swiper/css/navigation';

.itemList {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    h2 {
        text-align: center;
        color: white;
        font-size: 33px;
    }

    .swiperContainer {
        width: 100%;
        position: relative;
        overflow: hidden;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            opacity: 0;
            transform: translateX(-100px);
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;

            &.visible {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .swiper-button-next, .swiper-button-prev {
            background: none;
            opacity: 1;
            transition: opacity 0.3s;
            z-index: 10;

            &:after {
                font-size: 30px;
                color: white;
            }
        }

        .swiper-button-next:hover, .swiper-button-prev:hover {
            opacity: 0.7;
        }
    }
}
