$color_1: #333;
$color_2: #fff;
$background_left: #fff;
$button_color: #0DB14B;
$background-transition: #0c600a;
$background_transperant: transparent;
$background_input: #eee;
$border_color: #fff;
$background-color_2: #0DB14B; 
$background-color_6: #004d40; 

@keyframes move {
	0%,49.99% {
		opacity: 0;
		z-index: 1;
	}
	50%,100% {
		opacity: 1;
		z-index: 5;
	}
}
.parent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 150vh;
}
.container {
	background-color: $background_left;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 80%;
	p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.3px;
		margin: 20px 0;
	}
	span {
		font-size: 12px;
	}
	a {
		color: $color_1;
		font-size: 13px;
		text-decoration: none;
		margin: 15px 0 10px;
	}
	button {
		background-color: $button_color;
		color: $color_2;
		font-size: 12px;
		padding: 10px 45px;
		border: 1px solid transparent;
		border-radius: 8px;
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-top: 10px;
		cursor: pointer;
		&:hover {
			background-color: $background-transition;
			transition: 0.3s ease-in-out;
		}
	}
	button.hidden {
		background-color: $background_transperant;
		border-color: $border_color;
	}
	form {
		background-color: $background_left;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		height: 100%;
	}
	input {
		background-color: $background_input;
		border: none;
		margin: 8px 0;
		padding: 10px 15px;
		font-size: 13px;
		border-radius: 8px;
		width: 100%;
		outline: none;
	}
	input[type="file"] {
		color: $color_1; 
		background-color: $background_input; 
		border: 1px solid $border_color;
		padding: 10px; 
		font-size: 13px; 
		border-radius: 8px;
		outline: none; 
		cursor: pointer;
		text-align: center; 
		width: 100%; 
	
		&::-webkit-file-upload-button {
			background-color: $button_color; 
			color: $color_2; 
			padding: 10px 20px;
			border-radius: 8px; 
			border: none;
			cursor: pointer;
			transition: background-color 0.3s;
	
			&:hover {
				background-color: $background-transition; 
			}
		}
	}
	
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.sign-in {
	left: 0;
	width: 50%;
	z-index: 2;
}
.container.active {
	.sign-in {
		transform: translateX(100%);
	}
	.sign-up {
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
		animation: move 0.6s;
	}
	.toggle-container {
		transform: translateX(-100%);
		border-radius: 0 150px 100px 0;
	}
	.toggle {
		transform: translateX(50%);
	}
	.toggle-left {
		transform: translateX(0);
	}
	.toggle-right {
		transform: translateX(200%);
	}
}
.sign-up {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
	transition: all 0.5s;
}
.social-icons {
	margin: 20px 0;
	a {
		border: 1px solid #ccc;
		border-radius: 20%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 3px;
		width: 40px;
		height: 40px;
		transition: all 0.5s;
		&:hover {
			scale: 1.3;
			border: 1px solid #000;
		}
	}
}
.toggle-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	border-radius: 150px 0 0 100px;
}
.toggle {
	background-color: $button_color;
	height: 100%;
	background: linear-gradient(to right, #0DB19B, #0DB14B);
	color: $color_2;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}
.toggle-panel {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}
.toggle-left {
	transform: translateX(-200%);
}
.toggle-right {
	right: 0;
	transform: translateX(0);
}
.image-preview {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.passwordStrengthMeter {
    progress {
        width: 100%;
        height: 7px;
    }

    &.passwordStrengthProgress0 { background-color: #ff3e36; }
    &.passwordStrengthProgress1 { background-color: #ff691f; }
    &.passwordStrengthProgress2 { background-color: #ffc0cb; }
    &.passwordStrengthProgress3 { background-color: #0fdd89; }
    &.passwordStrengthProgress4 { background-color: #12c000; }
}

.passwordStrengthLabel {
    font-size: 0.9rem;
    margin-top: 5px;
}

@media (max-width: 768px) {
	.parent{
		height: auto;
		padding-top: 30px;
		width: 95%;
		margin: 0 auto;
	}

    .container {
        flex-direction: column;
        height: auto; 

		p{
			font-size: 12px;
		}
		button{
			margin-bottom: 5px;
		}
    }

    .form-container {
        position: relative;
        height: auto;
        transform: none;
        opacity: 1;
        z-index: 1;
    }

    .sign-in, .sign-up {
        width: 100%;
        opacity: 1;
        position: relative;
        height: auto; 
        z-index: 1; 
        transform: none;
		margin-bottom: 10px;
    }

    .container.active .sign-in,
    .container.active .sign-up {
        transform: none; 
        z-index: 1;
    }

    .toggle-container {
        position: relative;
        width: 100%;
        height: 20vh; 
        border-radius: 0;
        transform: none;
        overflow: visible; 
		transform: translateX(-50%) !important;
    }

    .toggle {
        position: relative;
        transform: none;
        height: 100%;
    }

    .toggle-panel {
        width: 100%;
        height: 100%; 
        transform: none;
        display: flex;

		h1{
			font-size: 14px;
			padding: 0;
			margin: 0;
		}
		p{
			padding: 0;
			margin: 0;
		}
    }

	.toggle-left, .toggle-right {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}