@import '../../common.module.scss';

.new {
    border-bottom: 1px solid $base-border-color;

    .itemList {
        width: 90%;
        margin: $new-section-margin;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            color: white;
            font-size: $new-heading-font-size;
        }

        .swiperContainer {
            width: 100%;
            position: relative;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: $swiper-slide-height;
            }
        }
    }
}